* { font-family: 'Montserrat', sans-serif !important; }

body {
    background: linear-gradient(to bottom right, #f25c54, #f27059, #f4845f, #f79d65);
}
#camera, #result {
    border: 5px solid #000000;
    width: 350px;
    height: 250px;
}
.box {
    display: block;
    background: linear-gradient(to bottom right, #48cae4, #90e0ef, #ade8f4, #caf0f8);
    width: 25ch;
    height: fit-content;
    padding: 1em;
    border-radius: 0.5em;
}
button {
    font-size: 2rem !important;
    padding-left: 1em;
    padding-right: 1em;
    background: none;
    border: 5px solid #48cae4;
    transition: all 0.25s linear;
    border-radius: 0.25em;
    text-shadow:
        0 0 0.5em #48cae4;
    box-shadow:
        0 0 1em #48cae4,
        inset 0 0 0.5em #48cae4;
}
button:hover {
    color: #3d3d3d;
    background: #48cae4;
    cursor: pointer;
}
.icon-large {
    font-size: 2.5em;
}

.exit {position:fixed;z-index:5;top:1em;right:1em;border:none;background-color:#ff584c;color:white;padding:1em 2em;border-radius:1em;letter-spacing:0px;font-size:1em;font-weight:600;}.exit:hover{cursor:pointer;}